{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"github/fims-proto/fims-proto-ms/internal/voucher/app"
	"github.com/gin-gonic/gin"
)

type Handler struct {
	app app.Application
}

func NewHandler(app app.Application) Handler {
	return Handler{app: app}
}

{{#operation}}


// {{nickname}} - {{{summary}}}
func (h Handler) {{nickname}}(c *gin.Context) {
	h._{{nickname}}(c)
}{{/operation}}{{/operations}}